.card-front img {
  display: flex;
  margin: 12px auto;
  width: 160px;
  height: 100%;
  object-fit: contain;
  flex-direction: column;
}

.card-container {
  height: 500px;
}

.card-front,
.card-back {
  height: 100%;
}

.card-front {
  display: flex;
  flex-direction: column;
}

.player-image {
  height: 220px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

